.comingSoon {
  flex-grow: 1;
  padding: 140px 60px 150px 60px;
  display: flex;

  & > .frameBg {
    ._logo {
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      width: 75px;
    }
    ._hud {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 575px;
    }
    ._box {
      top: calc(50% + 25px);
      left: calc(50% + 395px);
      height: 40vh;
      max-height: 400px;
    }
    ._reverse {
      left: calc(50% - 395px);
      transform: translateX(-100%) rotateY(180deg);
    }
  }

  &__inner {
    position: relative;
    width: 100%;
    max-width: 790px;
    min-height: 420px;
    margin: auto;
    padding: 100px 40px 60px 40px;

    //display
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    h1 {
      text-transform: uppercase;
      text-align: center;
    }
    .input {
      width: 100%;
      max-width: 600px;
    }
    .button {
      margin-top: 10px;
    }
  }
}

@mixin comingSoon-1160 {
  .comingSoon {
    & > .frameBg {
      ._box {
        top: calc(50% + 200px);
        left: calc(50% + 250px);
        height: 200px;
      }
      ._reverse {
        left: calc(50% - 250px);
      }
    }
  }
}
@mixin comingSoon-1025 {
  .comingSoon {
    padding: 120px 40px 100px 40px;

    & > .frameBg {
      ._logo {
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 65px;
      }
    }
  }
}
@mixin comingSoon-768 {
  .comingSoon {
    padding: 120px 30px 100px 30px;

    & > .frameBg {
      ._hud {
        width: 120vw;
        max-width: unset;
      }
      ._box {
        display: none;
      }
    }
  }
}
@mixin comingSoon-580 {
  .comingSoon {
    &__inner {
      padding: 100px 30px 120px 30px;
    }
  }
}
@mixin comingSoon-460 {
  .comingSoon {
    padding: 100px 15px 60px 15px;
    &__inner {
      padding: 80px 20px 100px 20px;
    }
    & > .frameBg {
      ._hud {
        width: unset;
        height: 80vh;

        img {
          width: unset;
        }
      }
    }
  }
}
