/// section hero
.hero {
  position: relative;
  &__inner {
    position: relative;
    height: calc(100vh - 120px - 100px);
    max-height: 900px;
    min-height: 550px;
    padding: 65px 50px;

    &-title {
      width: 100%;
      max-width: 890px;
      margin: 0 auto;
      text-align: center;

      h1 {
        font-size: 54px;
        line-height: 1.25;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: $white-text;
      }
    }
    &-row {
      display: flex;
      justify-content: space-evenly;
      height: 100%;
    }
    &-form {
      width: 50%;
      max-width: 600px;
      align-self: center;

      display: flex;
      flex-direction: column;
      gap: 10px;
      &-row {
        display: flex;
        gap: 10px;
      }
    }
  }
  &__contact {
    position: relative;
    width: 45%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 0;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: linear-gradient(180deg, $black-bg 30%, transparent);
      opacity: 0.8;
    }

    h1 {
      font-weight: 700;
      line-height: 1.25;
      text-transform: uppercase;
      color: $white-text;
    }

    &-list {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      gap: 1em;
      margin-top: 1em;
    }
    &-item {
      display: flex;
      gap: 0.55em;

      &-ico {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4em;
        height: 2.4em;
        border-radius: 50%;
        background: $black-2;

        svg {
          width: 0.8em;
          height: 0.8em;
        }
      }
      &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 5px;
        //font
        color: $white-text;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;

        small {
          color: $gray;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 1.2;
        }
        .link {
          position: relative;

          &:after {
            position: absolute;
            content: "";
            top: calc(100% + 0.2em);
            left: 0;
            width: 0;
            height: 1.6px;
            background-color: currentColor;
            opacity: 0;
            transition: 0.2s ease-out;
          }
          &:hover {
            opacity: 0.9;
            &:after {
              opacity: 1;
              width: 95%;
              transition-property: width;
            }
          }
        }
      }
    }
  }
  &--contact {
    ._box1 {
      left: 9%;
      top: 70%;
      width: 10%;
      height: 25%;
    }
    ._box2 {
      top: 60%;
      left: 18%;
      width: 11%;
      height: 30%;
    }
    ._box3 {
      top: 74%;
      left: 29.5%;
      width: 13%;
      height: 20%;
    }
    ._box4 {
      top: 52%;
      left: 31%;
      width: 13.4%;
      height: 20%;
    }
  }
  &--home {
    ._hud {
      left: 35%;
      top: 41%;
      width: 30%;
      height: 55%;
    }
    ._box {
      top: 50%;
      left: 77%;
      width: 15%;
      height: 45%;
      &._reverse {
        left: 8%;
        transform: rotateY(180deg);
      }
    }
    ._item1 {
      top: 79.5%;
      left: 61.5%;
      width: 6.5%;
      z-index: 1;
    }
    ._item2 {
      top: 33.5%;
      left: 82.5%;
      width: 8%;
    }
    ._item3 {
      top: 37.5%;
      left: 14%;
      width: 7%;
    }
    ._item4 {
      top: 65%;
      left: 34.15%;
      width: 4.3%;
      z-index: 1;
    }
    ._lock {
      left: 36.5%;
      top: 83%;
      width: 4%;
      height: 6%;
      z-index: 1;
    }
    ._station {
      top: 48%;
      left: 22%;
      height: 30%;
      width: 8.5%;

      &._reverse {
        left: 71%;
      }
    }
    ._window {
      top: 50.5%;
      width: 34%;
      height: 39%;
      left: 33%;
    }
  }
  .frameBg__inner-item {
    & > div {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
/// section heroSlider
.heroSlider {
  margin-top: 30px;
  padding: 20px 0;
  .autoContainer {
    max-width: unset;
  }
  &__swiper {
    overflow: visible !important;
    .swiper {
      &-wrapper {
        transition-timing-function: linear;
      }
      &-slide {
        position: relative;
        height: unset !important;
        padding: 1em 1.5em;
        width: 10em;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 20px;

        img {
          max-width: 100%;
          height: 1.5em;
          object-fit: contain;
        }
      }
    }
  }
}
//section about
.about {
  padding: 60px 0;
  &__inner {
    max-width: 720px;
    margin: 0 auto;
    position: relative;
    padding: 40px 40px 60px 40px;
    min-height: 650px;

    //display
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    &-title,
    &-content {
      width: 100%;
      max-width: 510px;
      margin: 0 auto;
    }

    &-title {
      h3 {
        color: $white-text;
        letter-spacing: 0.01em;
        text-transform: uppercase;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h6 {
        line-height: 1.6;
        letter-spacing: 0.01em;
        color: $white-text;
      }
    }
  }
}
/// section info
.info {
  padding: 30px 0;
  &__inner {
    position: relative;
    min-height: 540px;
    //display
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;

    &-title,
    &-content {
      width: calc(50% - 40px);
      display: flex;
      flex-direction: column;
    }
    &-title {
      max-width: 590px;
      align-items: flex-start;
      gap: 30px;

      h3 {
        color: $white-text;
        letter-spacing: 0.01em;
        text-transform: uppercase;
      }
    }
    &-content {
      max-width: 545px;
      gap: 1em;
    }
  }
}
/// section note
.note {
  padding: 30px 0;
  &__inner {
    position: relative;
    min-height: 300px;
    padding: 50px;

    //display
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-content {
      //display
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      width: 100%;
      max-width: 770px;
      text-align: center;

      h3 {
        line-height: 1.9;
        text-align: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: $white-text;
      }
    }
  }
}
/// section coreServices
.coreServices {
  padding: 30px 0;
  &__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &-title {
      text-align: center;
      margin-bottom: 50px;

      h3 {
        color: $white-text;
        letter-spacing: 0.01em;
        text-transform: uppercase;
      }
    }
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-tabs {
      position: relative;
      width: 450px;
      padding: 60px 0 60px 75px;

      &-events {
        position: absolute;
        top: 0;
        left: 0;
        width: 2em;
        height: 100%;
        background: $primary-1;
        background: $gradient-vertical;
        font-size: 20px;
        padding: 1.5em 0.4em;
        clip-path: polygon(
          0 0,
          1em 0,
          100% 1.2em,
          100% calc(100% - 0.6em),
          0 100%
        );

        //display
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        span {
          //font
          font-family: $font-primary;
          font-size: inherit;
          font-style: normal;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: 0.01em;
          color: rgba($white, 0.5);

          &.active {
            color: $white;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
    &-banner {
      width: calc(100% - 500px);
      max-width: 640px;
    }
  }
  &__tab {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h6 {
      line-height: 1.3;
      letter-spacing: 0.01em;
      color: $white-text;
    }
    p {
      font-family: $font-secondary;
    }
  }
  &__banner {
    position: relative;
    padding-bottom: 75%;
    z-index: 0;

    .frameBg__inner-item {
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      &._box1 {
        top: 62%;
        left: -6%;
        width: 54%;
        height: 42%;
      }
      &._box2 {
        top: 51.5%;
        left: 50%;
        width: 48%;
        height: 38%;
      }
      &._lock {
        top: 43%;
        left: 26.5%;
        width: 9%;
        height: 12%;
      }
      &._main {
        top: 1%;
        left: 4%;
        width: 85%;
        height: 90%;
        z-index: 0;
      }
    }
    .frameBg__inner-blur {
      z-index: -1;
    }
  }
}

@mixin index-1160 {
  .hero {
    &__contact {
      h1 {
        font-size: 44px;
      }
      &-list {
        margin: 0;
        gap: 10px;
      }
    }
    &__inner {
      &-title {
        h1 {
          font-size: 44px;
        }
      }
      &-form {
        .input {
          input,
          textarea {
            padding: 1em 1.2em;
          }
        }
        .button {
          padding: 0.5em 1em 0.55em 1em;
        }
      }
    }
  }
  .info {
    &__inner {
      justify-content: space-between;

      &-title,
      &-content {
        width: calc(50% - 1em);
      }
    }
  }
}
@mixin index-1025 {
  .hero {
    &__inner {
      height: unset;
      max-height: unset;
      min-height: unset;

      &-title {
        padding-bottom: 50%;
        h1 {
          font-size: 40px;
        }
      }
    }
    &--home {
      ._hud {
        left: 25%;
        top: 40%;
        width: 50%;
        height: 50%;
      }
      ._item4 {
        top: 65%;
        left: 26%;
        width: 5%;
        z-index: 1;
      }
      ._lock {
        left: 36.5%;
        top: 75%;
        width: 8%;
        height: 12%;
        z-index: 1;
      }
      ._station {
        top: 56%;
        left: 18%;
        height: 25%;
        width: 6%;

        &._reverse {
          left: 76%;
        }
      }
      ._window {
        top: 40.5%;
        width: 50%;
        height: 50%;
        left: 24%;
      }
    }
  }
  .coreServices {
    &__inner {
      &-banner {
        width: calc(100% - 450px);
      }
      &-tabs {
        width: 420px;
        padding: 60px 0 60px 55px;
        &-events {
          font-size: 18px;
        }
      }
    }
  }
}
@mixin index-940 {
  .hero {
    &__inner {
      &-title {
        h1 {
          font-size: 36px;
        }
      }
      &-row {
        justify-content: space-between;
      }
    }
    &__contact {
      &-item {
        &-ico {
          width: 2em;
          height: 2em;
        }
      }
    }
    &--contact & {
      &__inner {
        padding: 55px 30px;
      }
    }
  }
  .info {
    &__inner {
      gap: 30px;
      flex-direction: column;

      &-title,
      &-content {
        width: 100%;
        max-width: unset;
      }
      &-title {
        align-items: center;
        text-align: center;
      }
    }
  }
  .coreServices {
    &__inner {
      &-row {
        flex-direction: column;
        gap: 30px;
      }
      &-banner {
        width: 100%;
      }
      &-tabs {
        width: 100%;
        padding: 45px 0 45px 75px;
      }
    }
  }
}
@mixin index-768 {
  .hero {
    &__contact {
      width: 100%;
      &::after {
        display: none;
      }
    }
    &__inner {
      padding: 25px 30px;
      &-title {
        max-width: 450px;
        h1 {
          font-size: 32px;
        }
      }
      &-row {
        flex-direction: column;
        align-items: center;
        gap: 25px;
      }
      &-form {
        width: 100%;
        max-width: 500px;
      }
    }
    &--contact {
      ._box1 {
        left: 85%;
        top: 5%;
        width: 12%;
        height: unset;
      }
      ._box2 {
        top: 28%;
        left: 65%;
        width: 11%;
        height: unset;
      }
      ._box3 {
        top: 25%;
        left: 80%;
        width: 13%;
        height: unset;
      }
      ._box4 {
        top: 12%;
        left: 65%;
        width: 20%;
        height: unset;
      }
    }
  }
  .info {
    &__inner {
      padding: 50px 30px;
    }
  }
}
@mixin index-580 {
  .hero {
    &__inner {
      padding: 35px 20px;
      &-title {
        max-width: 450px;
        padding-bottom: 60%;
        h1 {
          font-size: 24px;
        }
      }
    }
    &--contact & {
      &__inner {
        padding: 35px 20px;
      }
    }
    &--home {
      ._hud {
        left: 15%;
        top: 30%;
        width: 70%;
        height: 65%;
        z-index: -1;
      }
      ._box {
        display: none;
      }
      ._item1 {
        top: 24%;
        left: 85%;
        width: 10%;
        height: unset;
      }
      ._item2 {
        top: 90%;
        left: 82.5%;
        width: 10%;
      }
      ._item3 {
        top: 75%;
        left: 5%;
        width: 12%;
      }
      ._item4 {
        display: none;
      }
      ._lock {
        width: 14%;
        height: unset;
      }
      ._station {
        top: 25%;
        left: 5%;
        height: 25%;
        width: 6%;

        &._reverse {
          top: 60%;
          left: 90%;
        }
      }
      ._window {
        top: 35%;
        width: 80%;
        height: 60%;
        left: 10%;
        z-index: -1;
      }
    }
  }
  .heroSlider {
    margin-top: 20px;
    &__swiper {
      .swiper-slide {
        font-size: 18px;
      }
    }
  }
  .info {
    &__inner {
      padding: 70px 30px;

      &-title {
        h3 {
          font-size: 24px;
        }
        .button {
          font-size: 16px;
        }
      }
    }
  }
  .about {
    &__inner {
      padding: 35px 40px 50px 40px;
      min-height: unset;
      gap: 15px;

      &-content {
        h6 {
          line-height: 1.3;
        }
        p {
          line-height: 1.4;
        }
      }
    }
  }
  .note {
    &__inner {
      padding: 40px 20px 50px 20px;

      &-content {
        h3 {
          line-height: 1.6;
        }
      }
    }
  }
}
@mixin index-460 {
  .hero {
    &__inner {
      &-title {
        h1 {
          font-size: 20px;
        }
        padding-bottom: 80%;
      }
    }
    &--contact {
      ._box1 {
        display: none;
        // left: 85%;
        // top: 5%;
        // width: 12%;
        // height: unset;
      }
      ._box2 {
        display: none;
        // top: 28%;
        // left: 65%;
        // width: 11%;
        // height: unset;
      }
      ._box3 {
        display: none;
        // top: 25%;
        // left: 80%;
        // width: 13%;
        // height: unset;
      }
      ._box4 {
        display: none;
        // top: 12%;
        // left: 65%;
        // width: 20%;
        // height: unset;
      }
    }
  }
  .info {
    &__inner {
      padding: 40px 20px;
      gap: 20px;

      &-title {
        gap: 20px;
        h3 {
          font-size: 22px;
        }
      }
    }
  }
  .about {
    &__inner {
      padding: 35px 25px 50px 25px;
      gap: 10px;

      &-content {
        gap: 5px;
      }
    }
  }
  .note {
    &__inner {
      padding: 40px 20px 50px 20px;

      &-content {
        h3 {
          line-height: 1.4;
        }
      }
    }
  }
  .coreServices {
    overflow: hidden;
    &__inner {
      &-tabs {
        width: 100%;
        padding: 30px 0 30px 45px;
        &-events {
          font-size: 14px;
        }
      }
      &-row {
      }
    }
  }
}
