.input {
  display: flex;
  width: 100%;
  font-size: 14px;

  input,
  textarea {
    padding: 1.4em 1.5em;
    width: 100%;
    background-color: $white;
    resize: none;
    transition: 0.3s ease-out;

    //font
    color: $white-text;
    caret-color: $primary-light;
    font-family: $font-secondary;
    font-weight: 400;
    font-style: normal;
    font-size: inherit;
    line-height: 1.2;

    /* identical to box height, or 171% */

    color: rgba(234, 231, 237, 0.6);

    &::placeholder {
      color: rgba($white-text, 0.4);
      transition: 0.2s ease-out;
    }
  }
  input:focus,
  textarea:focus {
    color: $primary-light;
  }
  input:focus,
  textarea:focus {
    &::placeholder {
      color: rgba($white-text, 0.2);
    }
  }
  &--primary {
    input,
    textarea {
      background: $black-2;
      box-shadow: 0px 1em 1.3em rgba($black, 0.22);
      clip-path: polygon(
        calc(100% - 1.2em) 0,
        100% 1.2em,
        100% 100%,
        0 100%,
        0 0
      );
    }
  }
  &--buttonRight {
    position: relative;
    input {
      padding-right: 3em;
    }
    .button {
      position: absolute;
      font-size: inherit;
      top: 50%;
      right: 0.5em;
      transform: translateY(-50%);
    }
    &._wideButton {
      input {
        padding-right: 8em;
      }
      .button {
        width: 7em;
      }
    }
  }
}
.button {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.65em 1em 0.75em 1em;
  transition: all 0.3s ease;

  color: $white-text;
  font-size: 20px;
  line-height: 1.2;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;

  &--primary {
    color: $white;
    border-color: $primary;
    background-image: linear-gradient(
      95deg,
      #0a52b0 20%,
      #0a52b0 55%,
      #0e285c 95%,
      #0e285c 135%
    );
    background-size: 300% 100%;
    background-position: 75%;
    min-width: 220px;
    clip-path: polygon(
      0 0,
      calc(100% - 20px) 0,
      100% 20px,
      100% 100%,
      18px 100%,
      0 calc(100% - 16px)
    );

    &:after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 10px;
      height: 20px;
      background-color: $primary;
      transform: skewX(46deg) translateX(-80%);
      box-shadow: 0px 4.57416px 4.57416px rgba(0, 0, 0, 0.25);
      transition: 0.2s ease-out;
    }
    &:hover {
      background-position: 100%;

      // background: mix($primary, $white, 90%);
      &:after {
        transform: skewX(46deg) translateX(-50%);
      }
    }
    &:active {
      &:after {
        transform: skewX(46deg) translateX(-15%);
      }
    }
  }
  &:active {
    opacity: 0.7;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5 !important;
  }
}
.buttonIcon {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75em;
  transition: all 0.3s ease;
  border-radius: 50%;

  color: $white-text;
  font-size: 20px;

  &:after,
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-out;
  }
  &:after {
    background: $black-3;
  }
  &:before {
    background: rgba($primary, 0.6);
    transform: translate(-50%, -50%) scale(0.8);
  }

  svg {
    width: 1em;
    height: 1em;
  }

  &:hover {
    &:after {
      transform: translate(-50%, -50%) scale(0.9);
    }
    &:before {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &:active {
    color: rgba($primary, 1);

    &:after,
    &::before {
      transition: 0.1s ease;
    }
    &:after {
      transform: translate(-50%, -50%) scale(1);
    }
    &:before {
      opacity: 0.4;
      transform: translate(-50%, -50%) scale(1.12);
    }
  }
}
.logo {
  display: flex;
  font-size: 20px;
  width: 5em;
  height: 5em;

  &--text {
    width: 9em;
    height: 1em;
  }

  img,
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.frameBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  padding: 5px;

  &__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &-item {
      position: absolute;
      display: flex;

      svg,
      img {
        width: 100%;
        height: 100%;
      }

      & > div {
        flex-shrink: 0;
      }
    }
    &-blur {
      position: absolute;
      box-shadow: 0 0 200px 100px currentColor;

      &._primary {
        color: $primary;
      }
      &._secondary {
        color: $primary-1;
      }
    }
  }
  &._noframe {
    padding: 0;
  }
  &._visible & {
    padding: 0;
    &__inner {
      overflow: visible;
    }
  }
}
.blur {
  position: absolute;
  box-shadow: 0 0 200px 100px currentColor;
  color: $primary;
}
.link {
  color: inherit;
  font-style: normal;
  text-decoration: none;
  font-size: inherit;
  transition: 0.3s ease-out;

  &:hover {
    opacity: 0.6;
  }
}
.nowrap {
  white-space: nowrap;
  font-size: inherit;
  line-height: inherit;
}
