:root {
  height: 100%;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-family: $font-secondary;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $black-bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($primary-1, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-1;
}

body {
  height: 100%;
  cursor: default;
  font-family: $font-secondary, sans-serif;
  font-size: 16px;
  color: rgba($white-text, 0.6);
  line-height: 1.7em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background: $black-bg;
}
body.active {
  overflow: hidden;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img,
svg {
  pointer-events: none;
}
