@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Gosha Sans";
  src: url(../../../fonts/GoshaSans-Bold.ttf) format("truetype"),
    url(../../../fonts/GoshaSans-Bold.woff2) format("woff2"),
    url(../../../fonts/GoshaSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gosha Sans";
  src: url(../../../fonts/GoshaSans-Medium.ttf) format("truetype"),
    url(../../../fonts/GoshaSans-Medium.woff2) format("woff2"),
    url(../../../fonts/GoshaSans-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Typography */
h1 {
  font-size: 65px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 34px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
  font-weight: 700;
  line-height: 1.2em;
}

p {
  line-height: 1.8em;
}
