$primary: #1ab2e2;
$primary-1: #0a52b0;
$primary-2: #0e285c;
$black: #101010;
$black-2: #2e2d3a;
$black-bg: #191825;
$white: #fff;

$font-primary: "Inter", sans-serif;
$font-secondary: "Gosha Sans", $font-primary;
$font-outfit: "Outfit", sans-serif;
